

.accordion {
  border-radius: 25px; /* Redondea los bordes del acordeón */
  overflow: hidden; /* Oculta cualquier contenido adicional que pueda desbordar */
  width: 100%;
}

.accordion-item {
  border-radius: 25px;
  /* Redondea los bordes de cada elemento */
  border: 1px solid var(--accordion-border-color);
  /* Añade un borde para resaltar los elementos */
  margin-bottom: 10px;
  /* Espacio entre elementos */
}
.accordion-header {
  padding: 10px;
  background-color: var(--accordion-header-bg);
  /* Color de fondo para el encabezado */
  cursor: pointer;
}

.accordion-flush .accordion-item .accordion-button {
  border-radius: 25px !important;
  font-family: 'PoetsenOne-Regular';
}

.accordion-button img {
  margin: 25px;
}

/* MAIN */
.main-menu {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: var(--color4);
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10vh 2rem 0 1.5rem;
  /* margin-top: 10vh; */
}


